[build]
publish = 'examples/demo/dist/'
command = 'npm ci && npm run prepack && npm --workspace demo run build'

[[headers]]
  for = '/*'
  [headers.values]
    Content-Security-Policy = "default-src 'self'; connect-src https:; img-src 'self' data:; style-src 'self' 'unsafe-inline'"
