<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="<%= require('./icon.svg') %>" />
    <title>Monaco YAML</title>
  </head>
  <body>
    <nav>
      <h1>Monaco YAML</h1>
      <div>
        <a href="https://npmjs.com/package/monaco-yaml" class="nav-icon">
          <img
            alt="npm icon"
            src="<%= require('@fortawesome/fontawesome-free/svgs/brands/npm.svg') %>"
          />
        </a>
        <a href="https://github.com/remcohaszing/monaco-yaml" class="nav-icon">
          <img
            alt="GitHub icon"
            src="<%= require('@fortawesome/fontawesome-free/svgs/brands/github.svg') %>"
          />
        </a>
      </div>
    </nav>
    <div class="editor-wrapper">
      <div id="breadcrumbs"></div>
      <div id="editor"></div>
      <div id="problems"></div>
    </div>
  </body>
</html>
