name: ci

on:
  pull_request:
  push:
    branches: [master]
    tags: ['*']

jobs:
  pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 14 }
      - run: yarn --frozen-lockfile
      - run: yarn pack

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: 14 }
      - run: yarn --frozen-lockfile
      - run: yarn lint
